:root {
	color-scheme: light dark;
	--color-content-bg: light-dark(hsl(210, 0%, 80%), hsl(210, 0%, 20%));
	--color-content-bg-l1: hsl(from var(--color-content-bg) h s calc(l - 4));
	--color-content-bg-l2: hsl(from var(--color-content-bg) h s calc(l - 8));
	--color-content-bg-l3: hsl(from var(--color-content-bg) h s calc(l - 12));
	--color-content-bg-l4: hsl(from var(--color-content-bg) h s calc(l - 16));
	--color-content-bg-l5: hsl(from var(--color-content-bg) h s calc(l - 20));
	--color-content-bg-h1: hsl(from var(--color-content-bg) h s calc(l + 4));
	--color-content-bg-h2: hsl(from var(--color-content-bg) h s calc(l + 8));
	--color-content-bg-h3: hsl(from var(--color-content-bg) h s calc(l + 12));
	--color-content-bg-h4: hsl(from var(--color-content-bg) h s calc(l + 16));
	--color-content-bg-h5: hsl(from var(--color-content-bg) h s calc(l + 20));

	--color-header-bg: var(--color-content-bg-h1);

	--zidx-light-dark-toggle: 1000;
}

html,
body {
	margin: 0;
	padding: 0;
	background-color: var(--color-content-bg);

	font-family: quicksand, sans-serif;
}
