#hero-page {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100cqh;
	overflow: hidden;

	// The core parallax mechanism
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	// Visual dark overlay for better logo contrast
	.hero-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100cqh;
		background-color: var(--color-overlay); // Adjust darkness here
		z-index: var(--zidx-hero-overlay);
	}

	#hero-content {
		position: relative;
		z-index: var(--zidx-hero-content);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2rem;
	}

	#hero-logo {
		max-width: 100%;
		width: auto;
		height: 350px;
		object-fit: contain;
		filter: brightness(1.1);
	}

	#hero-tagline {
		display: flex;
		font-size: 2.5rem;
		color: #fff;
		text-align: center;
		user-select: none;

		span {
			display: inline-block;
			padding: 0 0.5rem;
			white-space: nowrap;
		}

		* + * {
			border-left: 2px solid hsl(from currentColor h s l / 0.35);
		}
	}

	#services-button {
		margin-top: 5rem;
		padding: 0.5rem 2rem;
		font-size: 1rem;
		color: black;
		background-color: var(--color-harmony-gold);
		font-weight: bold;
		border: none;
		border-radius: 100vw;
		text-decoration: none;
		user-select: none;
		transition: background-color 0.3s ease;
		cursor: pointer;

		&:hover {
			filter: brightness(1.1);
		}
	}
}

[data-breakpoint='mobile'] {
	#hero-page {
		#hero-tagline {
			flex-direction: column;
			font-size: 2rem;

			span {
				padding: 0.5rem 0;
			}

			* + * {
				border-top: 2px solid hsl(from currentColor h s l / 0.35);
				border-left: none;
				font-size: 1.5rem;
			}
		}
	}
}
