#page-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.55rem 1rem;
	background-color: var(--color-bg-l1);
	border-bottom: 1px solid var(--color-border);

	#page-header-logo {
		font-family: var(--font-harmony);
		max-height: 50px;
		margin: -0.5rem;
		padding: 0.25rem 0.5rem;
		cursor: pointer;
	}

	nav {
		display: flex;
		gap: 0.5rem;
		font-size: 1.25rem;
	}

	#mobile-nav-button {
		background: transparent;
		margin-right: -0.5rem;
		padding: 0;
		width: 32px;
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 4px;
		border: none;
		cursor: pointer;
	}

	#mobile-nav-popover {
		background-color: var(--color-bg-l3);
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		border-radius: 0.5rem;
		padding: 0.5rem;
		border: none;

		nav {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
		}

		&:popover-open {
			display: flex;
		}

		@supports (anchor-name: --mobileNav) {
			margin-top: 0.25rem;
			margin-right: -0.25rem;
			inset: auto;
			position: absolute;
			top: anchor(bottom);
			right: anchor(right);
			bottom: 0;
		}
	}
}

:root[style*='color-scheme: light'] {
	#page-header img {
		filter: brightness(0.8);
	}
}
