.light-dark-toggle {
	position: fixed;
	--offset: 0.5rem;
	bottom: var(--offset);
	right: var(--offset);
	z-index: var(--zidx-light-dark-toggle);

	--size: 1.5rem;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;

	--clr-lt: #f6d984;
	--clr-dk: #9a8135;
	background-color: var(--color-bg-l1);
	color: light-dark(var(--clr-dk), var(--clr-lt));

	opacity: 0.6;
	transition:
		opacity,
		background-color 0.15s ease-in-out;

	cursor: pointer;

	&:hover {
		opacity: 1;
	}
}
