$tablet-break: 900px
$mobile-break: 600px

#home-page
	flex: 0 0 auto
	display: flex
	flex-direction: column
	align-items: center
	gap: 20px

	#hero-section
		position: relative
		width: 100%
		height: calc(100cqh + 50px)
		padding-bottom: 50px
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		box-shadow: 0 -20px 10px -10px var(--main-bg) inset
		box-sizing: border-box

		#hero-overlay
			position: absolute
			top: 0
			left: 0
			width: 50%
			height: calc(100% - 50px)
			z-index: 1

			display: flex
			justify-content: center
			align-items: center
			
			box-sizing: border-box

			#hero-text
				font-size: 12px

				display: flex
				flex-direction: column
				justify-content: center
				align-items: center
				font-size: max(min(3.5cqw, 3cqh), 0.5em)

				padding: min(50px, 3cqw)
				border-radius: min(2.5cqw, 2.5cqh)

				$bg-color: #ffffffcc
				background-color: $bg-color
				box-shadow: 0 0px 10px 20px $bg-color

				#hero-title
					display: flex
					flex-direction: column
					gap: 10px
					
					text-align: center

				h2
					color: #282828
					font-weight: 300
					font-size: 1.75em

				h1
					color: #8d7a24
					font-family: 'Josefin Sans', sans-serif
					font-weight: 400
					font-size: 2em
					text-transform: uppercase
					line-height: 1em
					
				p
					color: #484848

	#about-section
		max-width: 900px
		width: 90%
		padding: 100px 20px
		box-sizing: border-box

		h2
			font-size: 2em
			margin-bottom: 10px
			text-align: center

		p
			font-size: 1.1em
			line-height: 1.6em
			text-align: justify

	#top-service-section
		display: flex
		flex-direction: column
		width: min(1000px, calc(100% - 2rem))
		gap: 1.5rem

		#top-service-head
			display: flex
			flex-direction: row
			justify-content: space-between
			align-items: center

			h2
				font-size: 2rem
				color: var(--bold-fg)
				margin: 0
				padding: 0

		#service-cards
			display: flex
			flex-wrap: wrap
			justify-content: center
			padding: 0

			--card-width: 300px
			--gap-size: 1rem
			--card-count: 3

			gap: var(--gap-size)

			.service-card
				width: calc((100% - (var(--gap-size) * (var(--card-count) - 1))) / var(--card-count))

@media (orientation: portrait)
	#home-page #hero-section
		background-position-x: 60%

		#hero-overlay
			width: 100%
			align-items: flex-end
			padding: 40px 30px

			#hero-text
				width: 100%
				height: auto
				padding: min(30px, 4cqw)

@media (max-width: $tablet-break)
	#home-page #top-service-section
		#service-cards
			--card-count: 2

@media (max-width: $mobile-break)
	#home-page #top-service-section
		#top-service-head
			flex-direction: column
			gap: 1rem
			align-items: center

		#service-cards
			--card-count: 1